# Binaries
# If you run 'go build', the default binary name matches the module name or directory
marianapparitions
# Common output names
app
*.exe
*.test

# SQLite Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Ansible
ansible/inventory.ini
ansible/*.retry
ansible/.vault_pass
ansible/group_vars/*/vault.yml
ansible/host_vars/*/vault.yml
