<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marian Apparitions</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h1><a href="/">Marian Apparitions</a></h1>

    <div class="filters">
        <form method="GET" action="/">
            <h2>Filter Events</h2>
            {{if .CurrentSort}}<input type="hidden" name="sort_by" value="{{.CurrentSort}}">{{end}}
            <div class="filter-group">
                <label>Year Range:</label>
                <input type="number" name="start_year" placeholder="Start Year"
                    value="{{if .StartYear}}{{.StartYear}}{{end}}">
                -
                <input type="number" name="end_year" placeholder="End Year" value="{{if .EndYear}}{{.EndYear}}{{end}}">
            </div>

            <div class="filter-group">
                <label>Categories:</label>
                <div class="category-list">
                    {{range .Categories}}
                    <label class="category-item">
                        <input type="checkbox" name="category" value="{{.}}" {{if index $.SelectedCategories
                            .}}checked{{end}}>
                        {{.}}
                    </label>
                    {{end}}
                </div>
            </div>

            <button type="submit">Apply Filters</button>
            <a href="/">Clear</a>
        </form>
    </div>

    <div class="sorting">
        <form method="GET" action="/">
            <h2>Sort Events</h2>
            <details>
                <summary>Sort by {{ .GetSortNameByString .CurrentSort }} </summary>
                <ul>
                    {{range .SupportedSorts}}
                    <li class="{{ .Orientation }}"><a href="/?{{- range $qs := $.SortHref . }}
                                     {{- $qs.Key }}={{- $qs.Value }}&
                                   {{- end }}">{{.Name}}</a>
                    </li>
                    {{end}}
                </ul>
            </details>

        </form>
    </div>

    <hr>

    <ul class="event-list">
        {{range .Events}}
        {{ $event := . }}
        <li class="event-item">
            <h3><a href="/{{.Slug}}">{{.Name}}</a></h3>
            <div class="meta">
              {{.Category}}
                  by
                  {{ with $event.GetApproverChurch "Catholic" }}
                    <span class="approval--catholic">{{ . }}</span>
                  {{ end }}
                  {{ with $event.GetApproverChurch "Orthodox" }}
                    <span class="approval--orthodox">{{ . }}</span>
                  {{ end }}
                  {{ with $event.GetApproverChurch "Anglican" }}
                    <span class="approval--anglican">{{ . }}</span>
                  {{ end }}
              |
              {{.Years}}
            </div>

            {{ range .Blocks }}
                {{ if eq .Title "Excerpt" }}
                  <pre style="white-space: pre-wrap;">{{.Content}}</pre>
                {{ end }}
            {{ end }}
        </li>
        {{else}}
        <li class="event-item">
            <p>No events found matching your criteria.</p>
        </li>
        {{end}}


 
    </ul>
</body>

</html>
