<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Marian Apparitions</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <a href="/">&larr; Back to List</a>
    <h1>{{.Name}}</h1>
    <div class="meta">
        <strong>Category:</strong> {{.Category}} <br>
        <strong>Year(s):</strong> {{.Years}} <br>
        {{if .Country}}<strong>Country:</strong> {{.Country}} <br>{{end}}
        {{if .Requests}}
          <strong>Her requests:</strong>
          <ul>
            {{range .Requests}}
            <li>
              {{.Request}}
            </li>
            {{end}}
          </ul>
        {{end}}
    </div>

    {{ if .ImageFilename}}
    <img src="/static/{{.ImageFilename}}" alt="{{.Name}}">
    {{ end }}

    {{ range .Blocks}}
      {{ if ne .Title "Excerpt" }}
        <h2>{{.Title}}</h2>
        <pre style="white-space: pre-wrap;">{{.Content}}</pre>
      {{ end }}
    {{ end }}
 
</body>

</html>
