<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}} - Marian Apparitions</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <a href="/">&larr; Back to List</a>
    <h1>{{.Name}}</h1>
    <div class="meta">
        <strong>Category:</strong> {{.Category}} <br>
        <strong>Year(s):</strong> {{.Years}} <br>
        <strong>Wikipedia Section:</strong> {{.WikipediaSectionTitle}}
    </div>

    {{if .ImageFilename}}
    <img src="/static/{{.ImageFilename}}" alt="{{.Name}}">
    {{end}}

    <pre style="white-space: pre-wrap;">{{.Description}}</pre>
 
    <div class="meta">
      {{if .Requests}}
        <strong>Requests:</strong>
        <ul>
          {{range .Requests}}
          <li>
            {{.Request}}
          </li>
          {{end}}
        </ul>
      {{end}}
    </div>
</body>

</html>
